# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Dados (baixados do Kaggle / gerados pelo pipeline)
#data/raw/*
#!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Credenciais
.env
*.env.local
kaggle.json
aws/credentials

# dbt
dbt/olist_pipeline/target/**
dbt/olist_pipeline/dbt_packages/**
dbt/olist_pipeline/logs/**
dbt/olist_pipeline/dbt_internal_packages/
dbt/olist_pipeline/profiles.yml

dbt_packages/
dbt_modules/
target/
logs/
.user.yml

# Terraform
aws/terraform/.terraform/*
aws/terraform/.terraform/providers
aws/terraform/.terraform.lock.hcl
aws/terraform/terraform.tfstate*
aws/terraform/terraform.tfvars
aws/terraform/*.tfplan
aws/terraform/crash.log

# Airflow
airflow/logs/
airflow/plugins/__pycache__/
airflow-logs/

# Saídas de ML
machine-learning/output/*
!machine-learning/output/.gitkeep
machine-learning/artifacts/*
!machine-learning/artifacts/.gitkeep

# SO / editores
.DS_Store
Thumbs.db
.vscode/
.idea/
temp/