# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Dados (baixados do Kaggle / gerados pelo pipeline)
#data/raw/*
#!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Credenciais
.env
*.env.local
kaggle.json
aws/credentials

# dbt
dbt/olist_pipeline/target/**
dbt/olist_pipeline/dbt_packages/**
dbt/olist_pipeline/logs/**
dbt/olist_pipeline/dbt_internal_packages/
dbt/olist_pipeline/profiles.yml

dbt_packages/
dbt_modules/
target/
logs/
.user.yml

# Terraform
aws/terraform/.terraform/
aws/terraform/.terraform.lock.hcl
aws/terraform/*.tfstate
aws/terraform/*.tfstate.*
aws/terraform/crash.log
aws/terraform/*.tfvars
aws/terraform/override.tf
aws/terraform/override.tf.json
aws/terraform/*_override.tf
aws/terraform/*_override.tf.json
aws/terraform/.terraformrc
aws/terraform/terraform.rc
aws/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/
aws/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/linux_amd64/LICENSE.txt
aws/terraform/.terraform\providers/registry.terraform.io/hashicorp/aws/5.100.0/linux_amd64/terraform-provider-aws_v5.100.0_x5

# Airflow
airflow/logs/
airflow/plugins/__pycache__/
airflow-logs/

# Saídas de ML
machine-learning/output/*
!machine-learning/output/.gitkeep
machine-learning/artifacts/*
!machine-learning/artifacts/.gitkeep

# SO / editores
.DS_Store
Thumbs.db
.vscode/
.idea/
temp/